html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='/css.css' rel='stylesheet')
        link(href="/favicon.ico"  rel="shortcut icon" type="image/x-icon" )
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous")
        script(
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous")
        script(src="/js.js")
        if room
            script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
            script(src="/chat.js")
    body
        header(class="navbar navbar-inverse")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(href="/" class="navbar-brand") BlogBul
                div(class="collapse navbar-collapse" id="myNavbar")
                    ul(class="nav navbar-nav")
                        li 
                            a(href='/' class="navbar-btn") Home
                            if currentUser
                                li                            
                                    a(href='/rooms' class="navbar-btn") Rooms
                    ul(class="nav navbar-nav navbar-right")
                        if !currentUser
                            li
                                a(href="/register" class="glyphicon glyphicon-user")  Register
                            li
                                a(href="/login" class="glyphicon glyphicon-log-in")  Login
                        else
                            li
                                span Hello, 
                                    a(id='userGreeting' href="/users/" + currentUser.username ) #{currentUser.username}
                            li
                                form(action="/logout" method="POST")
                                    input(type="submit" value="Logout!")
        - var messages = getMessages() 
            if messages.info
                each msg in messages.info
                    div(class='alert alert-info alert-dismissable'  role='button' data-toggle="tooltip" title="Hide!") #{msg}
            if messages.error
                each msg in messages.error
                    div(class='alert alert-danger alert-dismissable' role='button' data-toggle="tooltip" title="Hide!") #{msg}
                        
            if messages.success
                each msg in messages.success
                    div(class='alert alert-success alert-dismissable' role='button' data-toggle="tooltip" title="Hide!") #{msg}
        
        block content